services:
  query:
    build:
      context: .
      dockerfile: ./services/query_service/Dockerfile
    env_file: .env
    ports:
      - "8001:8001"
    depends_on: ["stt", "ingest"]

  ingest:
    build:
      context: .
      dockerfile: ./services/ingestion_service/Dockerfile
    env_file: .env
    ports:
      - "8002:8002"
    volumes:
      - ingest-data:/data

  stt:
    build:
      context: .
      dockerfile: ./services/stt_service/Dockerfile
    env_file: .env
    ports:
      - "50051:50051"

volumes:
  ingest-data: